.images .inner-img {
    background-image: url("https://i.ytimg.com/vi/TiMRwri1xJ8/sddefault.jpg?sqp=-oaymwEmCIAFEOAD8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGBMgSih_MA8=&rs=AOn4CLC_xWHLr1MWqkG6bWiX0Zi-7y5Pew");
  
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }